
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    gap: 30px;
    align-items: center;
}

.add-task {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 15vw;
    /* Optionally, you can center the container horizontally as well */
    /* justify-content: center; */
    /* align-items: center; */
}

form{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

form #checkbox{
    align-self: flex-start;
}

.view-tasks{
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    position: relative;

}

.nav-lower {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 7px;

}

.new-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* gap: 2px; */
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
